name: Publish Python Package

on:
  push:
    branches:
      - main  # Trigger on push to the main branch
    tags:
      - 'v*.*.*'  # Trigger when a tag like v1.2.3 is pushed

jobs:
  build:
    runs-on: windows-latest

    strategy:
      matrix:
        python-version: ['3.11']

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install setuptools build

    - name: Build the package
      run: |
        python -m build
        dir dist

    - name: Publish to PyPI
      env:
        TWINE_USERNAME: "__token__"
        TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
      run: |
        pip install twine
        twine upload dist/*

    - name: Cleanup dist folder
      run: Remove-Item -Recurse -Force dist
